
input::placeholder, textarea::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AEAFC1;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder, textarea::-ms-input-placeholder  { /* Internet Explorer 10-11 */
    color: #AEAFC1;
}
  
input::-ms-input-placeholder, textarea::-ms-input-placeholder  { /* Microsoft Edge */
    color: #AEAFC1;
}

input:focus, textarea:focus{
    border-color:rgba(85, 85, 193, 0.1);
}
