@import "./variables.scss";

.dre-btn{
    display: inline-block;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    background: transparent;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.dre-btn-primary{
    color: #ffffff;
    background-color: $primary;
    border-color: $primary;
}

.dre-btn-hover{
    filter: brightness(90%);
}