//general color
$primary: #0d6efd !default;
$secondary: #6c757d !default;
$success: #28a745  !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$error: #dc3545 !default;
$light: #f8f9fa  !default;
$dark: #212529 !default;

//font-color
$text-primary: #0C0E45 !default;
$text-secondary: #73748F !default ;
$text-tertiary: #AEAFC1 !default ;
$text-link: $primary !default;
$icon: $text-secondary !default;
$line: $light !default;
$border: $light !default;

//media size breakdown
$media-xl: '1200px';
$media-lg: '992px';
$media-md: '768px';
$media-sm: '576px';
$media-xs: '400px';

:export {
    primary: $primary;
    secondary: $secondary;
    success: $success;
    info: $info;
    warning: $warning;
    error: $error;
    light: $light;
    dark: $dark;

    textPrimary: $text-primary;
    textSecondary: $text-secondary;
    textTertiary: $text-tertiary;
    textLink: $text-link;
    icon: $icon;
    line: $line;
    border: $border;

    mediaXl: $media-xl;
    mediaLg: $media-lg;
    mediaMd: $media-md;
    mediaSm: $media-sm;
    mediaXs: $media-xs;
}