$primary: #0d6efd !default;
$secondary: #6c757d !default;
$succes: #198754  !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa  !default;
$dark: #212529 !default;